/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Oswald', sans-serif;
}

* {
    box-sizing: border-box;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html,
body {
    max-width: 100vw;
    max-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    -moz-text-decoration-color: #ababab;
    tex-decoration-color: #ababab;
}

a:visited {
    color: #222;
}

/* ==========================================================================
   Application
   ========================================================================== */

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* HEADER */

header {
    flex: 0 1 auto; /* flex-grow, flex-shrink, flex-basis: auto */
    z-index: 100;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 0 5px #222;
}

.logo {
    border-bottom: 1px solid #e5e5e5;
}

.logo h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

/* MAIN */

main {
    display: flex;
    flex: 1 1 auto; /* flex-grow, flex-shrink, flex-basis: auto */
}

.icon-float {
    display: block;
    box-sizing: content-box;
    position: absolute;
    z-index: 99;
    width: 40px;
    height: 40px;
    padding: 10px;
    background: #fff;
    font-size: 1.75em;  
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    line-height: 40px;
    text-align: center;
}

.icon-map {
    top: 75px;
    right: 10px;
}

.icon-popup {
    left: 10px;
    bottom: 60px;
}

/* NAV */

nav {
    flex: 0 1 auto;
}

.nav-list {
    list-style-type: none;
    display: none;
    position: relative;
    right: 0;
    top: 0;
    z-index: 75;
    padding: 65px 20px 0 40px;
}

.nav-item {
    display: block;
    width: 100%;
    text-align: right;
    padding: 10px 0;
}

.nav-item:hover {
    color: #8f8f8f;
}

.nav-item::after {
    display:block;
    content: '';
    border-bottom: dotted 2px #e5e5e5;  
    transform: scaleX(0);  
    transition: transform 500ms ease-in-out;
}

.nav-item:hover::after {
    transform: scaleX(1);
}

#map {
    flex: 1 1 auto; /* flex-grow, flex-shrink, flex-basis: auto */
}

/* FLOATER */

.floater {
    display: none;
    font-size: 80%;
    position: absolute;
    left: 10px;
    bottom: 60px;
    width: 60%;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #e5e5e5;
    z-index: 1000;
    border-radius: 3px;
}

.floater hr {
    margin-top: 0;
}

#search-field {
    width: 80%;
    border-radius: 3px;
    border: 1px outset #DDDDDD;
}

#search-btn {
    background: #fff;
    border-radius: 3px;
    border: 1px outset #ddd;
}

.toggle-favorite, .toggle-markers {
    color: #222;
    font-size: .75em;
    margin-right: 10px;
    cursor: pointer;
}

.floter-favorite:hover {
    color: #8F8F8F;
}

.location-list {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 0 0;
}

.location-item {
    width: 100%;
    padding: 2px 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.location-title {
    display: inline-block;
    width: calc(100% - 50px);
}

.location-item:hover {
    background: #e5e5e5;
}

.location-item:hover .location-title {
    padding: 2px 5px;
} 

.floater .icon-heart {
    float: right;
    padding-left: 20px;
    color: #ccc;
}

.floater .icon-heart:hover {
    color: #c77a7d;
    transform: scale(1.3);
    padding-right: 3px;
}

.favorited-heart {
    color: #c1272d !important;
}

.location-highlight {
    background: #f0ddde;
    border-bottom: 1px solid #c77a7d;
    border-bottom: 1px solid #c77a7d;
    padding-left: 5px;
}

.hide-list-item {
    display: none !important;
    padding: 0 !important;
}

.info-window h3 {
    margin: 0 !important;
}

#pano {
    width: 220px;
    height: 200px;
}

/* FOOTER */

footer {
    flex: 0 1 30px; /* flex-grow, flex-shrink, flex-basis: auto */
    z-index: 100;
    background: #fff;
    border-top: 1px solid #e5e5e5;
    box-shadow: 0 0 5px #222;
    text-align: center;
}

small {
    font-size: 60%;
}












/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (min-width:680px) { 
    .icon-float {
        display: none;
    }

    .nav-list {
        display: flex;
        justify-content: space-around;
        background: #fafafa;
        border-bottom: 1px solid #e5e5e5;
        box-shadow: 0 0 5px #222;
        width: 100vw;
        margin: 0;
        padding: 20px;
    }

    .nav-item {
        text-align: center;
        padding: 0 10px;
    }

    .nav-item:hover {
        color: #8f8f8f;
    }

    .floater {
        display: block;
        font-size: 100%;
        position: absolute;
        left: 30px;
        top: 200px;
        bottom: auto;
        width: 30%;
        border-radius: 5px;
        z-index: 1000;
    }

    small {
        font-size: 100%;
    }

    #pano {
        width: 300px;
        height: 200px;
    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

